*.class

# Package Files #
*.jar
*.war
*.ear
*.iml

.classpath
.idea
.project
.settings/*
api/.classpath
api/.settings/*
api/target/*
api/.project
omod/.project
omod/.classpath
omod/.settings/*
omod/target/*
/.settings

target
