<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.0">

	<!-- HIV ART Register Module Properties -->
	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>
	<author>PIH</author>
	<description>Row Per Patient Reports</description>
	<activator>@MODULE_PACKAGE@.RowPerPatientReportsModuleActivator</activator>
	<updateURL>https://dev.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL>
	<require_version>1.4.0</require_version>
	
	<require_modules>
		<require_module>org.openmrs.module.reporting</require_module>
		<require_module>org.openmrs.module.mohorderentrybridge</require_module>
	</require_modules>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

	<mappingFiles>
	</mappingFiles>
	
</module>
